
$light0: #ffffff;
$light1: #d1d1d1;
$light2: #8A85A4;


$s0: 0.5rem;   // 8px
$s1: 0.625rem; // 10px
$s2: 0.75rem;  // 12px
$s3: 0.875rem; // 14px
$s4: 1rem;     // 16px
$s5: 1.125rem; // 18px
$s6: 1.25rem;  // 20px
$s7: 1.375rem; // 22px
$s8: 1.5rem;   // 24px
$s9: 1.625rem; // 26px
$s10: 1.75rem; // 28px
$s11: 1.875rem;// 30px
$s12: 2rem;    // 32px
$s13: 2.125rem;// 34px
$s14: 2.25rem; // 36px
$s15: 2.375rem;// 38px
$s16: 2.5rem;  // 40px
$s17: 2.625rem;// 42px
$s18: 2.75rem; // 44px
$s19: 2.875rem;// 46px
$s20: 3rem;    // 48px
$s21: 3.125rem;// 50px
$s22: 3.25rem; // 52px
$s23: 3.375rem;// 54px
$s24: 3.5rem;  // 56px
$s25: 3.625rem;// 58px
$s26: 3.75rem; // 60px
$s27: 3.875rem;// 62px
$s28: 4rem;    // 64px
$s29: 4.125rem;// 66px
$s30: 4.25rem; // 68px
$s31: 4.375rem;// 70px
$s32: 4.5rem;  // 72px
$s33: 4.625rem;// 74px
$s34: 4.75rem; // 76px
$s35: 4.875rem;// 78px
$s36: 5rem;    // 80px
$s37: 5.125rem;// 82px
$s38: 5.25rem; // 84px
$s39: 5.375rem;// 86px
$s40: 5.5rem;  // 88px
$s41: 5.625rem;// 90px
$s42: 5.75rem; // 92px
$s43: 5.875rem;// 94px
$s44: 6rem;    // 96px